.admin-panel-container {
  
}

.admin-panel-container .admin-panel-wrapper {
  width: 80%;
  height: 200px;
  border-radius: 4px;
  margin: 20px auto;
  display: flex;
}

.admin-wrapper-item {
  width: 50%;
  margin: 5px;
  box-shadow: 0 0 30px #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin-wrapper-item p {
  font-size: 44px;
  font-weight: bold;
  color: #18a86c;
}
