.main-page-container {
  position: fixed;
  left: 300px;
  width: 100%;
  height: 100vh;
}


.main-page-container .main-page-wrapper {
    margin-top: 50px;
    padding: 20px;
    width: 80%;
    height: 70%;
    background-color: #fbfbfb;
    overflow-x: hidden;
    overflow-y: scroll;
    /* background-color: white; */
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.main-page-container .main-page-wrapper::-webkit-scrollbar {
  width: 5px;
}

.main-page-container .main-page-wrapper::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: grey;
}

.main-page-chat {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 20px;
}

.main-page-chat span {
  font-size: 12px;
  font-weight: bold;
  color: #76ab88;
}


.main-page-chat p {
  display: inline;
  padding: 20px;
  margin: 10px 20px 0;
  /* background-color: #76ab88; */
  /* background-color: #8eadfa; */
  background-color: white;
  border-radius: 4px;
  font-size: 12px;
  color: black;
  font-weight: bold;
  box-shadow: 0 0 30px grey;
}

.form-new-message {
  /* padding: 10px; */
  margin: 20px 0;
}

.form-new-message input {
  width: 60%;
  /* background-color: #b3b3b3; */
  border: 1px solid #b3b3b3;
  font-size: 12px;
  padding: 20px 50px;
  border-radius: 4px;
  color:black;
  outline: none;
}




.form-new-message input::placeholder {
  color: black;
}


