.current-chat-container {
  margin-top: 30px;
}


.current-chat-container p {
  font-size: 14px;
  font-weight: bold;
  color:black;
}

.current-chat-container p span {
  color: #76ab88;
  cursor: pointer;
}

